OPENAI_API_KEY=sk_sua_chave_do_openai
OPENAI_MODEL=gpt-4o-mini

GITHUB_TOKEN=ghp_seu_token_do_github
GITHUB_OWNER=sua_organizacao_ou_usuario
GITHUB_REPOSITORY=seu_repositorio
GITHUB_PROJECT_ID=PVT_seu_project_id

SLACK_BOT_TOKEN=xoxb_seu_token_do_slack
SLACK_DEFAULT_CHANNEL_ID=C0BS9C37QRJ
